body {
  margin: 0;
  font-family: sans-serif;
  background-color: hsl(255, 40%, 94%);
}

header {
  background-color:#7834ff;
  padding: 10px;
}

.back-btn {
   
  background: none;
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  background: #f8f8f8;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.4em;
}

#scanner-container {
  width: 100%;
  aspect-ratio: 1.6;
  background: #d3d3d3;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

video#scanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input#codigo {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #ddd;
  box-sizing: border-box;
}

button#btn-aceptar {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #8e8ef1;
  cursor: pointer;
  transition: background 0.3s ease;
}

button#btn-aceptar:hover {
  background-color: #c0c0c0;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 480px) {
  h2 {
    font-size: 1.2em;
  }

  .container {
    margin: 20px auto;
    padding: 20px 15px;
  }

  input#codigo,
  button#btn-aceptar {
    font-size: 15px;
    padding: 10px;
  }
}
